meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

title Social Network

// Loading Jquery and bootstrap
script(src='https://code.jquery.com/jquery-2.2.4.js')
link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')