div.container
    h1 Notifications for {{ api.getUserInfo().firstName }}

    div.notifications(*ngFor='let notification of notifications')
        div.notification
            h4 {{ notification.content }}
            a.btn.btn-danger((click)='deleteNotification(notifications.indexOf(notification), notification.id)') Delete