doctype html

html(lang='en')
    head
        base(href='/')
        include ./includes/head
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')

        script.
            System.import('/js/app/main.js');

    body
        socialnetwork Loading...