nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse',
            data-target='#bs-example-navbar-collapse-1', aria-expanded=false)
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(routerLink='home', routerLinkActive='active'): img(src='/img/logo.png', alt='Brand')
            a.navbar-brand(routerLink='home', routerLinkActive='active') SOCIAL NETWORK

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li: a(routerLink='home', routerLinkActive='active') Home

            ul.nav.navbar-nav.navbar-right
                //li: a(routerLink='account', routerLinkActive='active'): img.avatar(src='/img/default-avatar.png')
                li.dropdown
                    a.dropdown-toggle(type='button', id='menu1', data-toggle='dropdown')
                        img.avatar(src='/img/default-avatar.png')
                        span.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='menu1')
                        li(role='presentation'): a(role='menuitem', tabindex='-1', routerLink='account',
                                                    routerLinkActive='active') Account
                        li.divider
                        li(role='presentation'): a(role='menuitem', tabindex='-1', routerLink='account',
                                                    routerLinkActive='active') Sign Out
                li: a(routerLink='signin', routerLinkActive='active') Sign In
                li: a(routerLink='signup', routerLinkActive='active') Sign Up
router-outlet