nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse',
            data-target='#bs-example-navbar-collapse-1', aria-expanded=false)
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(routerLink='home', routerLinkActive='active'): img(src='/img/logo.png', alt='Brand')
            a.navbar-brand(routerLink='home', routerLinkActive='active') SOCIAL NETWORK

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li: a(routerLink='home', routerLinkActive='active') Home

            form.navbar-form.navbar-right((ngSubmit)='search()')
                div.form-group.input-group
                    input.form-control(type='text', name='search', placeholder='Search for people', [(ngModel)]='searchTerm')
                    span.input-group-btn: button.btn.btn-default(type='submit'): span.glyphicon.glyphicon-search

            ul.nav.navbar-nav.navbar-right
                li.dropdown(*ngIf='api.getUserInfo()')
                    a.dropdown-toggle(type='button', id='menu1', data-toggle='dropdown')
                        img.avatar([src]='api.getUserInfo().image')
                        span.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='menu1')
                        li(role='presentation'): a(role='menuitem', tabindex='-1', (click)='gotoAccount()') Account
                        li(role='presentation'): a(role='menuitem', tabindex='-1',
                            (click)='gotoNotifications()')
                            | Notifications
                            | <span *ngIf='notifications >= 1' class='glyphicon glyphicon-exclamation-sign'></span>
                        li.divider
                        li(role='presentation'): a(role='menuitem', tabindex='-1', (click)='logout()') Sign Out
                li: a(routerLink='signin', routerLinkActive='active') Sign In
                li: a(routerLink='signup', routerLinkActive='active') Sign Up
router-outlet
