.profile-img {
  width: 300px;
  border-radius: 10%;
}
.avatar {
  width: 50px;
  border-radius: 5%;
}
.friendcheck {
  float: left;
  margin-left: 15px;
  width: 30px;
  text-align: center;
  color: white;
  border-radius: 100%;
  background-color: #4b8bff;
  padding: 5px;
}
.friendcheck a {
  color: white;
  cursor: pointer;
}
.friend {
  padding: 10px 10px 0;
  border: 1px solid #3a3a3a;
  margin-bottom: 10px;
}
.friend img,
.friend div {
  display: inline-block;
}
.friend img {
  margin-right: 10px;
  margin-bottom: 28px;
}
.friend div h5 {
  color: #8f8f8f;
}
h4 a {
  cursor: pointer;
}
